.hidden-text {
	filter: blur(5px);
	cursor: pointer;
	transition: .3s;
}

.hidden-text:hover {
	filter: blur(0);
}

.wrapper-text-example-text {
	text-align: center;
}
.wrapper-text-example-text > p {
	width: 100%;
}